* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

h1,
h2 {
  color: #444; }

h3,
h4 {
  color: #666; }

p,
blockquote,
section,
div {
  line-height: 1.5; }

p,
blockquote,
section {
  max-width: 960px; }

a {
  color: #357edd;
  transition: color 0.5s ease-in-out; }
  a:active, a:hover {
    color: #1c5aa9; }

header {
  padding: 1rem; }
  header ul {
    list-style-type: none;
    padding-left: 0; }
  header li {
    display: inline-block;
    padding-right: 1rem; }

h2 {
  padding-left: 1rem; }

section {
  padding: 1rem; }

code,
pre,
.code {
  color: #333;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  padding: 0 0.25rem; }

code,
.code {
  background: #ddd; }

pre {
  white-space: pre-wrap; }

.example {
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
  padding: 1rem; }

.comment {
  color: #666; }
  .comment:before {
    content: "// "; }

.checkbox {
  margin-left: 1rem;
  position: relative; }
  .checkbox-input {
    left: -9999em;
    position: absolute; }
  .checkbox-label {
    padding-left: 2rem;
    word-wrap: break-word; }
  .checkbox-input ~ .checkbox-label:before {
    border: 1px solid #357edd;
    border-radius: 1px;
    content: '';
    height: 1rem;
    left: 0;
    position: absolute;
    top: 0.25rem;
    width: 1rem; }
  .checkbox-input:not(:checked) ~ .checkbox-label:after {
    opacity: 0; }
  .checkbox-input:checked ~ .checkbox-label:after {
    color: #357edd;
    content: "\2713";
    font-size: 1rem;
    left: 2px;
    opacity: 1;
    position: absolute; }

.radio {
  margin-left: 1rem;
  position: relative; }
  .radio-input {
    left: -9999em;
    position: absolute; }
  .radio-label {
    padding-left: 2rem; }
  .radio-input ~ .radio-label:before {
    border: 1px solid #357edd;
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 0;
    position: absolute;
    top: 0.25rem;
    width: 1rem; }
  .radio-input:not(:checked) ~ .radio-label:after {
    opacity: 0; }
  .radio-input:checked ~ .radio-label:after {
    background-color: #357edd;
    border-radius: 50%;
    content: '';
    height: 0.5rem;
    left: 0.25rem;
    opacity: 1;
    position: absolute;
    top: 0.5rem;
    width: 0.5rem; }

.select {
  background: white;
  border: 1px solid #357edd;
  border-radius: 1px;
  height: 2rem;
  -webkit-appearance: none;
  width: 240px; }
  .select > select {
    background: transparent;
    border: 0;
    font-size: 16px;
    padding: 0.5rem;
    width: 260px; }
