// Fonts
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$font-family-mono: 'Courier New', Courier, monospace;
$font-family-sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Garamond, 'Times New Roman', serif;

// Colors
$background-color-light: #ddd;
$header-color-main: #444;
$header-color-sub: #666;
$link-color: #357edd;
$text-color: #333;