<h2>Vertically centering text with CSS</h2>

<section>
  <h3>Using line height</h3>

  <div class="example">
    <div class="vertical-line-height container">
      <p class="text">Lorem ipsum dolor sic amet</p>
    </div>
  </div>
</section>

<section>
  <h3>Using <span class="code">display: table</span></h3>

  <div class="example">
    <div class="vertical-table container">
      <p class="text">Lorem ipsum dolor sic amet</p>
    </div>
  </div>
</section>

<section>
  <h3>Using CSS transforms</h3>

  <div class="example">
    <div class="vertical-transform container">
      <div class="text">Lorem ipsum dolor sic amet</div>
    </div>
  </div>
</section>

<section>
  <h3>Using pseudo-elements</h3>

  <div class="example">
    <div class="vertical-pseudo-element container">
    </div>
  </div>
</section>