<h2>Styling complex input elements with CSS pseudo-elements</h2>

<section>
  <h3>Radio buttons</h3>
  <div class="radio">
    <input type="radio" id="radio-1" name="radio-group" class="radio-input">
    <label for="radio-1" class="radio-label">These radio buttons all have the same name attribute on the radio input.</label>
  </div>
    <div class="radio">
    <input type="radio" id="radio-2" name="radio-group" class="radio-input">
    <label for="radio-2" class="radio-label">This allows only one button to be selected in the group at a time.</label>
  </div>
    <div class="radio">
    <input type="radio" id="radio-3" name="radio-group" class="radio-input">
    <label for="radio-3" class="radio-label">In general, use radio buttons if only one choice can be selected; checkboxes if multiple options are possible.</label>
  </div>
</section>

<section>
  <h3>Check boxes</h3>
  <div class="checkbox">
    <input type="checkbox" id="checkbox-1" class="checkbox-input">
    <label for="checkbox-1" class="checkbox-label">Multiple checkboxes can be selected at a time.</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkbox-2" class="checkbox-input">
    <label for="checkbox-2" class="checkbox-label">The check mark here is created using a unicode character.</label>
  </div>
</section>

<section>
  <h3>Select dropdowns</h3>
  <div class="select">
    <select>
      <option>This is the default option</option>
      <option>Here is a second option</option>
      <option>And a third option</option>
    </select>
  </div>
</section>